.remote_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.local_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.item_large{
  /* 横スクロール用 */
  display: inline-block;
  /*width: 90%;*/
 width: 320px;
  /* 見た目調整 */
  height: 240px;
  margin: 5px;
  font-size: 10px;
  /*background: rgba(255, 0, 0, 0.4);*/
}
.item_small{
  /* 横スクロール用 */
  display: inline-block;
  /*width: 90%;*/
 width: 180px;
  /* 見た目調整 */
  height: 120px;
  margin: 5px;
  font-size: 10px;
  /*background: rgba(255, 0, 0, 0.4);*/
}

.item_addButton{
  /* 横スクロール用 */
  display: inline-block;
  /*width: 90%;*/
 width: 95px;
  /* 見た目調整 */
  height: 50px;
  margin: 5px;
  font-size: 10px;
  /*background: rgba(255, 0, 0, 0.4);*/
  vertical-align: top;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.viwer_grid {
  /*ビアンコ・デ・メルレッティ・ヴェネツィアーニ*/
  background: #F7F9FC;
  max-width: 100%;
}

/* clearfix */
.viwer_grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.viwer_grid-item {
  width: 320px;
  height: 260px;//240-20
  float: left;
  /*鼠色*/
  /*background: #838383;*/
  /*
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  */
}

.viwer_grid-item--144 {
  width: 256px;
  height: 184px;//144+40
}
.viwer_grid-item--240 {
  width: 427px;
  height: 284px;//240+40
}
.viwer_grid-item--360 {
  width: 640px;
  height: 400px;//360+40
}
.viwer_grid-item--480 {
  width: 720px;
  height: 520px;//480+40
}
.viwer_grid-item--720 {
  width: 1280px;
  height: 760px;//720+40
}
.viwer_grid-item--1080 {
  width: 1920px;
  height: 1120px;//1080+40
}
.viwer_grid-item--1440 {
  width: 2560px;
  height: 1480px;//1440+40
}
.viwer_grid-item--2160 {
  width: 3840px;
  height: 2200px;//2160+40
}

button {
  font-size: 20px;
}