body {
  color: white;
  background-color: SkyBlue;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;  
}
.video-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}