

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;/*rem算出をしやすくするために*/
	height: 100vh;
}

.btn,
a.btn,
button.btn {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
	color: #fff;
	background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
	color: #fff;
	background: #f56500;
}




/**/
body {
/*	margin: 30px;*/
	margin: 3px;
	padding: 0px;
	overflow: hidden;
	font-family: "游ゴシック", "Yu Gothic";
	height: 100vh;
}

@keyframes flash {
	0%,100% {
		opacity: 1;
	}
	50% {
		opacity: 0.05;
	}
}

.language_button {
	width: 200px;
	height: 80px;
	background: white;
	position: fixed;
	top: 0;
	right: 0;
	opacity: .5; /*追記*/
	border-radius: 8px;

	border-width: 3px;
	border-style: solid;
	border-color: #cc4343;

	margin: 10px;
	align-items: center;
	justify-content: center;

	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
/*	display: inline-block;*/
	display: flex;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
/*	color: #212529;*/
	border-color: black;
	border-radius: 0.5rem;

	opacity: 1;
}

.description_panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 0vh;
/*	margin: 10px 0;*/
/*	padding-top: 30px;*/

}
.description_content {
	align-items: center;
	justify-content: center;
	width: calc(100% - 10px);
	height: calc(100% - 20px);
	margin: 10px;
/*	padding: 5px 0px;*/
	text-align: center;
	font-size: 30px;
/*	border: solid 1px;*/
/*	border-radius: 8px;*/
	background-color: #CAE3BF;
/*	animation: fadeIn 1.0s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;*/
	animation: fadeIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1;

/*	font-size: 2.6rem;*/
	font-size: 4.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
/*	display: inline-block;*/
	display: flex;
	padding: 1rem 4rem;
/*	cursor: pointer;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
/*	border-radius: 0.5rem;*/

	transition-property: opacity;
	transition-duration: 1s;
	opacity: 1;
}
.description_content.is-hide {
	opacity: 0;
}

.choice_buttons_panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100vh;
/*	margin: 10px 0;*/
/*	padding-top: 30px;*/
	transition: all 1s;
}
.choice_button {
/*	display: flex;*/
/*	display: inline-block;*/
	align-items: center;
	justify-content: center;
	width: calc(100% / 2 - 20px);
	height: calc(100% / 2 - 20px);
	margin: 5px;
	margin-top: 10px;
/*	padding: 5px 0px;*/
	font-size: 30px;
/*	border: solid 1px;*/
	border-radius: 8px;
	background-color: #e0edff;
/*	animation: fadeIn 1.0s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;*/
	animation: fadeIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1;

/*	font-size: 1.6rem;*/
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
/*	display: inline-block;*/
	display: flex;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;

	transition-property: opacity;
	transition-duration: 1s;
	opacity: 1;
}
.choice_button.is-hide {
	opacity: 0;
}

.choice_button_text {
	margin: 0 50px;
	text-align: center;
	font-weight: bold;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.8);
	}
}
